body {
    color: #FFF;
    font-family: Roboto;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}
.logo_link {
    display: inline-block;
    margin-right: 50px;
}
.nav_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_menu_item {
    margin-right: 30px;
}
.nav_menu_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.movie_date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    color: rgba(255, 255, 255, 0.8);
}
.movie_description {
    margin-top: 40px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button_icon, .button_text {
    display: inline-block;
    vertical-align: middle;
}
.button_text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}
.button_primary {
    color: #8D0019;
}
.button_link {
    color: #FFF;
}
.button_group {
    margin-top: 70px;
}
.venom {
    position: absolute;
    right: 0;
    top: 0;
}
.blood {
    background: url("../img/blood.png") no-repeat top right, #14131A url('../img/background.jpg') no-repeat center center / 100%;
}