body {
    background: #14131A;
    color: #FFF;
    font-family: Roboto;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}
.logo_link {
    display: inline-block;
    margin-right: 50px;
}
.nav_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_menu_item {
    margin-right: 30px;
}
.nav_menu_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.movie_date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    color: rgba(255, 255, 255, 0.8);
}
.movie_description {
    margin-top: 40px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button_icon, .button_text {
    display: inline-block;
    vertical-align: middle;
}
.button_text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}
.button_primary {
    color: #8D0019;
}
.button_link {
    color: #FFF;
}
.button_group {
    margin-top: 70px;
}
.venom {
    position: absolute;
    right: 0;
    top: 0;
}
.blood {
    background: url("../img/blood.png") no-repeat top right, #14131A url('../img/background.jpg') no-repeat center center / 100%;
}
.primary_bg {
    background: url('../img/background.jpg') no-repeat center center / 100%;
}
.content {
    display: flex;
}
.col {
    flex-basis: 50%;
}
.content_title {
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}
.content_text {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;
    margin-bottom: 30px;
}
.content_subtitle {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
    margin-top: 0;
}
.content .list {
    list-style: none;
    padding: 0;
}
.list_item {
    line-height: 1.5;
}
.column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    max-width: 350px;
}
.content .trailer {
    width: 356px;
    height: 205px;
    background: url(../img/trailer-cover.jpg) no-repeat center / contain;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}
.trailer .play {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}
.trailer .play_icon {
    transform: translate(1px, 2px);
    cursor: pointer;
}
.poster_wrapper {
    display: flex;
    align-items: start;
}
.poster {
    width: 362px;
    border-radius: 5px;
    margin-right: 30px;
}
.poster_wrapper .content_subtitle {
    margin-bottom: 5px;
}
.poster_wrapper .list {
    margin: 0;
    margin-bottom: 20px;
}